In [1]:
import pandas as pd
import os

In [2]:
folder_path = r'C:\Users\S499EJ\Desktop\Exposure Data'

In [3]:
# !pip install openpyxl
import openpyxl

In [4]:
concatenated_df_LOC = pd.DataFrame()
concatenated_df_USD = pd.DataFrame()
concatenated_df_EUR = pd.DataFrame()

In [5]:
# Iterate through each file in the folder
for filename in os.listdir(folder_path):
    if filename.endswith('.xlsx'):  # Assuming all files are Excel files
        file_path = os.path.join(folder_path, filename)
        
        # Check if the sheet 'Aggregate Data' exists in the Excel file
        excel_sheets = pd.ExcelFile(file_path).sheet_names
        if 'Aggregate Data' in excel_sheets:
            # Read the Excel file, considering row 6 as column headers and starting from row 7
            excel_data = pd.read_excel(file_path, sheet_name='Aggregate Data', header=5)
            
            # Concatenate the data to the main DataFrame
            concatenated_df_LOC = pd.concat([concatenated_df_LOC, excel_data])

In [6]:
concatenated_df_LOC.reset_index(drop=True, inplace=True)

In [7]:
concatenated_df_LOC.head()

,Peril,Country,CRESTA ID,CRESTA Description,Property LOB,Currency,Number of Risks,Buildings / Motor Value,Contents Value,BI Value,Loss Limits,Deductibles,All Value,Loss Limit,Deductible
0,FIWF,AUS,AUS_0800,Darwin,MOT_COM,AUD,4035.134871,1.015809e+08,0.000000e+00,0.0,1.015809e+08,1.392045e+06,NaN,NaN,NaN
1,FIWF,AUS,AUS_0800,Darwin,MOT_RES,AUD,4846.644522,1.040169e+08,0.000000e+00,0.0,1.040169e+08,2.842669e+06,NaN,NaN,NaN
2,FIWF,AUS,AUS_0800,Darwin,PRO_COM,AUD,2625.960371,5.633942e+09,1.613944e+09,1722401782.854463,8.545714e+09,1.077439e+08,NaN,NaN,NaN
3,FIWF,AUS,AUS_0800,Darwin,PRO_RES,AUD,1944.653818,7.567046e+08,1.095775e+08,101133193.957203,9.651956e+08,1.304207e+06,NaN,NaN,NaN
4,FIWF,AUS,AUS_0810,Moil,MOT_COM,AUD,3759.496102,1.798626e+08,0.000000e+00,0.0,1.798626e+08,3.672568e+06,NaN,NaN,NaN

In [8]:
concatenated_df_LOC.dtypes

Peril                       object
Country                     object
CRESTA ID                   object
CRESTA Description          object
Property LOB                object
Currency                    object
Number of Risks            float64
Buildings / Motor Value    float64
Contents Value             float64
BI Value                    object
Loss Limits                float64
Deductibles                float64
All Value                  float64
Loss Limit                 float64
Deductible                 float64
dtype: object

In [9]:
# Replacing '-' to 0 in BI Value
concatenated_df_LOC['BI Value'] = concatenated_df_LOC['BI Value'].replace('-',0)

C:\Users\S499EJ\AppData\Local\Temp\1\ipykernel_27584\2836933510.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  concatenated_df_LOC['BI Value'] = concatenated_df_LOC['BI Value'].replace('-',0)

In [10]:
# Converting BI Value column to float
concatenated_df_LOC['BI Value'] = concatenated_df_LOC['BI Value'].astype(float)

In [11]:
concatenated_df_LOC.dtypes

Peril                       object
Country                     object
CRESTA ID                   object
CRESTA Description          object
Property LOB                object
Currency                    object
Number of Risks            float64
Buildings / Motor Value    float64
Contents Value             float64
BI Value                   float64
Loss Limits                float64
Deductibles                float64
All Value                  float64
Loss Limit                 float64
Deductible                 float64
dtype: object

In [12]:
# Iterate through each file in the folder for Aggregate Data USD
for filename in os.listdir(folder_path):
    if filename.endswith('.xlsx'):  # Assuming all files are Excel files
        file_path = os.path.join(folder_path, filename)
        
        # Check if the sheet 'Aggregate Data' exists in the Excel file
        excel_sheets = pd.ExcelFile(file_path).sheet_names
        if 'Aggregate Data USD' in excel_sheets:
            # Read the Excel file, considering row 6 as column headers and starting from row 7
            excel_data = pd.read_excel(file_path, sheet_name='Aggregate Data USD', header=5)
            
            # Concatenate the data to the main DataFrame
            concatenated_df_USD = pd.concat([concatenated_df_USD, excel_data])

In [13]:
# Replacing '-' to 0 in BI Value
concatenated_df_USD['BI Value'] = concatenated_df_USD['BI Value'].replace('-',0)

# Converting BI Value column to float
concatenated_df_USD['BI Value'] = concatenated_df_USD['BI Value'].astype(float)

C:\Users\S499EJ\AppData\Local\Temp\1\ipykernel_27584\1426375138.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  concatenated_df_USD['BI Value'] = concatenated_df_USD['BI Value'].replace('-',0)

In [14]:
concatenated_df_USD.reset_index(drop=True, inplace=True)
concatenated_df_USD.head()

,Peril,Country,CRESTA ID,CRESTA Description,Property LOB,Currency,Number of Risks,Buildings / Motor Value,Contents Value,BI Value,Loss Limits,Deductibles,All Value,Loss Limit,Deductible
0,FIWF,AUS,AUS_0800,Darwin,MOT_COM,USD,4035.134871,6.925898e+07,0.000000e+00,0.000000e+00,6.925898e+07,9.491115e+05,NaN,NaN,NaN
1,FIWF,AUS,AUS_0800,Darwin,MOT_RES,USD,4846.644522,7.091984e+07,0.000000e+00,0.000000e+00,7.091984e+07,1.938163e+06,NaN,NaN,NaN
2,FIWF,AUS,AUS_0800,Darwin,PRO_COM,USD,2625.960371,3.841284e+09,1.100405e+09,1.174352e+09,5.826562e+09,7.346100e+07,NaN,NaN,NaN
3,FIWF,AUS,AUS_0800,Darwin,PRO_RES,USD,1944.653818,5.159295e+08,7.471115e+07,6.895372e+07,6.580810e+08,8.892227e+05,NaN,NaN,NaN
4,FIWF,AUS,AUS_0810,Moil,MOT_COM,USD,3759.496102,1.226323e+08,0.000000e+00,0.000000e+00,1.226323e+08,2.503997e+06,NaN,NaN,NaN

In [15]:
concatenated_df_USD.dtypes

Peril                       object
Country                     object
CRESTA ID                   object
CRESTA Description          object
Property LOB                object
Currency                    object
Number of Risks            float64
Buildings / Motor Value    float64
Contents Value             float64
BI Value                   float64
Loss Limits                float64
Deductibles                float64
All Value                  float64
Loss Limit                 float64
Deductible                 float64
dtype: object

In [16]:
# Iterate through each file in the folder for Aggregate Data EUR
for filename in os.listdir(folder_path):
    if filename.endswith('.xlsx'):  # Assuming all files are Excel files
        file_path = os.path.join(folder_path, filename)
        
        # Check if the sheet 'Aggregate Data' exists in the Excel file
        excel_sheets = pd.ExcelFile(file_path).sheet_names
        if 'Aggregate Data EUR' in excel_sheets:
            # Read the Excel file, considering row 6 as column headers and starting from row 7
            excel_data = pd.read_excel(file_path, sheet_name='Aggregate Data EUR', header=5)
            
            # Concatenate the data to the main DataFrame
            concatenated_df_EUR = pd.concat([concatenated_df_EUR, excel_data])

In [17]:
# Replacing '-' to 0 in BI Value
concatenated_df_EUR['BI Value'] = concatenated_df_EUR['BI Value'].replace('-',0)

# Converting BI Value column to float
concatenated_df_EUR['BI Value'] = concatenated_df_EUR['BI Value'].astype(float)

C:\Users\S499EJ\AppData\Local\Temp\1\ipykernel_27584\3720666426.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  concatenated_df_EUR['BI Value'] = concatenated_df_EUR['BI Value'].replace('-',0)

In [18]:
concatenated_df_EUR.reset_index(drop=True, inplace=True)
concatenated_df_EUR.head()

,Peril,Country,CRESTA ID,CRESTA Description,Property LOB,Currency,Number of Risks,Buildings / Motor Value,Contents Value,BI Value,Loss Limits,Deductibles,Loss Limit,Deductible
0,FIWF,AUS,AUS_0800,Darwin,MOT_COM,EUR,4035.134871,6.469627e+07,0.000000e+00,0.000000e+00,6.469627e+07,8.865850e+05,NaN,NaN
1,FIWF,AUS,AUS_0800,Darwin,MOT_RES,EUR,4846.644522,6.624771e+07,0.000000e+00,0.000000e+00,6.624771e+07,1.810479e+06,NaN,NaN
2,FIWF,AUS,AUS_0800,Darwin,PRO_COM,EUR,2625.960371,3.588224e+09,1.027911e+09,1.096987e+09,5.442714e+09,6.862146e+07,NaN,NaN
3,FIWF,AUS,AUS_0800,Darwin,PRO_RES,EUR,1944.653818,4.819406e+08,6.978926e+07,6.441112e+07,6.147273e+08,8.306417e+05,NaN,NaN
4,FIWF,AUS,AUS_0810,Moil,MOT_COM,EUR,3759.496102,1.145534e+08,0.000000e+00,0.000000e+00,1.145534e+08,2.339037e+06,NaN,NaN

In [19]:
concatenated_df_LOC['SUM_3'] = concatenated_df_LOC['Buildings / Motor Value'] + concatenated_df_LOC['Contents Value'] + concatenated_df_LOC['BI Value']
concatenated_df_USD['SUM_3'] = concatenated_df_USD['Buildings / Motor Value'] + concatenated_df_USD['Contents Value'] + concatenated_df_USD['BI Value'] 
concatenated_df_EUR['SUM_3'] = concatenated_df_EUR['Buildings / Motor Value'] + concatenated_df_EUR['Contents Value'] + concatenated_df_EUR['BI Value']

In [20]:
# Filter rows based on 'Property LOB' values 'PRO_RES' and 'PRO_COM'
pro_res_df = concatenated_df_LOC[concatenated_df_LOC['Property LOB'] == 'PRO_RES']
pro_com_df = concatenated_df_LOC[concatenated_df_LOC['Property LOB'] == 'PRO_COM']
pro_ind_df = concatenated_df_LOC[concatenated_df_LOC['Property LOB'] == 'PRO_IND']

In [21]:
# Group by 'Country', 'Peril', 'Currency', and 'Property LOB', and calculate sums of 'BI Value'
pro_res_summary = pro_res_df.groupby(['Country', 'Peril', 'Currency']).agg({'SUM_3': 'sum'}).reset_index()
pro_com_summary = pro_com_df.groupby(['Country', 'Peril', 'Currency']).agg({'SUM_3': 'sum'}).reset_index()
pro_ind_summary = pro_ind_df.groupby(['Country', 'Peril', 'Currency']).agg({'SUM_3': 'sum'}).reset_index()

In [22]:
pro_com_summary.head()

  Country Peril Currency         SUM_3
0     AUS  EQXX      AUD  3.920394e+12
1     AUS  FIWF      AUD  3.913390e+12
2     AUS  STHS      AUD  3.850638e+12
3     AUS  STXX      AUD  3.921331e+12
4     AUS  TCXX      AUD  3.921331e+12

In [23]:
# Merge the two summaries on 'Country', 'Peril', and 'Currency'
summary_df1 = pd.merge(pro_res_summary, pro_com_summary, on=['Country', 'Peril', 'Currency'], suffixes=('_Residential', '_Commercial'))
summary_df = pd.merge(summary_df1, pro_ind_summary, on=['Country', 'Peril', 'Currency'], how = 'outer')

# Calculate 'Property Residential Amount' and 'Property Commercial Amount'
summary_df['Property Residential Amount'] = summary_df['SUM_3_Residential']
summary_df['Property Commercial Amount'] = summary_df['SUM_3_Commercial']
summary_df['Property Industries Amount'] = summary_df['SUM_3']

#Replacing NA for industries
summary_df['Property Industries Amount'].fillna(0, inplace=True)

# Calculate 'Total'
summary_df['Total'] = summary_df['Property Residential Amount'] + summary_df['Property Commercial Amount'] + summary_df['Property Industries Amount']

# Reorder columns as per requirement
summary_df = summary_df[['Country', 'Peril', 'Currency', 'Property Residential Amount', 'Property Commercial Amount', 'Property Industries Amount','Total']]

# Display the summary DataFrame
print(summary_df)

   Country Peril Currency  Property Residential Amount  \
0      AUS  EQXX      AUD                 5.787934e+12
1      AUS  FIWF      AUD                 5.787936e+12
2      AUS  STHS      AUD                 5.787936e+12
3      AUS  STXX      AUD                 5.787936e+12
4      AUS  TCXX      AUD                 5.787936e+12
5      AUT  STXX      EUR                 2.103119e+12
6      BEL  FLXX      EUR                 1.601717e+12
7      CAN  EQXX      CAD                 8.473824e+11
8      CAN  FIWF      CAD                 1.018686e+13
9      CAN  FLXX      CAD                 6.215323e+12
10     CAN  STHS      CAD                 1.018602e+13
11     CAN  VOXX      CAD                 4.910027e+12
12     CHE  FLXX      CHF                 2.561131e+12
13     CHE  STXX      CHF                 2.561131e+12
14     DEU  FLXX      EUR                 6.703676e+12
15     DEU  STXX      EUR                 1.156726e+13
16     DNK  FLXX      DKK                 6.921545e+12
17     FRA  STXX      EUR                 8.620198e+12
18     GBR  FLXX      GBP                 5.853864e+12
19     GBR  STXX      GBP                 5.770877e+12
20     IDN  EQXX      IDR                 5.268718e+14
21     IDN  FLXX      IDR                 8.963053e+14
22     IRL  FLXX      EUR                 4.632822e+11
23     ITA  EQXX      EUR                 4.763308e+11
24     ITA  FLXX      EUR                 3.200670e+11
25     JPN  FLXX      JPY                 3.732541e+14
26     LUX  FLXX      EUR                 1.451147e+11
27     LUX  STXX      EUR                 1.460661e+11
28     NLD  FLXX      EUR                 2.649051e+12
29     NLD  STXX      EUR                 2.648462e+12
30     NOR  FLXX      NOK                 1.479289e+13
31     NOR  STXX      NOK                 1.479289e+13
32     NZL  EQXX      NZD                 1.112136e+12
33     NZL  FLXX      NZD                 1.113368e+12
34     NZL  STXX      NZD                 1.113368e+12
35     PHL  EQXX      PHP                 3.196874e+12
36     PHL  TCXX      PHP                 3.035834e+12
37     SWE  FLXX      SEK                 1.533773e+13
38     SWE  STXX      SEK                 1.533773e+13
39     THA  EQXX      THB                 4.461611e+12
40     TUR  EQXX      TRY                 5.631591e+12
41     TUR  FLXX      TRY                 2.022343e+12

    Property Commercial Amount  Property Industries Amount         Total
0                 3.920394e+12                0.000000e+00  9.708328e+12
1                 3.913390e+12                0.000000e+00  9.701326e+12
2                 3.850638e+12                0.000000e+00  9.638574e+12
3                 3.921331e+12                0.000000e+00  9.709267e+12
4                 3.921331e+12                0.000000e+00  9.709267e+12
5                 1.461994e+12                0.000000e+00  3.565113e+12
6                 5.421802e+11                2.582653e+11  2.402162e+12
7                 5.921565e+12                0.000000e+00  6.768947e+12
8                 7.137949e+12                0.000000e+00  1.732481e+13
9                 6.144012e+12                0.000000e+00  1.235934e+13
10                7.071592e+12                0.000000e+00  1.725761e+13
11                4.992191e+12                0.000000e+00  9.902218e+12
12                1.445751e+12                6.352361e+11  4.642118e+12
13                1.445751e+12                6.352361e+11  4.642118e+12
14                3.467259e+12                3.891263e+12  1.406220e+13
15                5.187211e+12                4.606437e+12  2.136091e+13
16                5.734848e+12                0.000000e+00  1.265639e+13
17                2.028052e+12                3.524671e+12  1.417292e+13
18                5.005402e+12                0.000000e+00  1.085927e+13
19                5.028680e+12                0.000000e+00  1.079956e+13
20                5.554920e+15                0.000000e+00  6.081792e+15
21                4.750445e+15                0.000000e+00  5.646750e+15
22                4.618063e+11                0.000000e+00  9.250884e+11
23                2.178093e+12                0.000000e+00  2.654424e+12
24                2.058075e+12                0.000000e+00  2.378142e+12
25                2.953760e+14                2.057544e+14  8.743845e+14
26                7.025473e+10                0.000000e+00  2.153694e+11
27                7.680512e+10                0.000000e+00  2.228712e+11
28                1.471544e+12                0.000000e+00  4.120595e+12
29                1.539735e+12                0.000000e+00  4.188198e+12
30                9.295435e+12                0.000000e+00  2.408832e+13
31                9.295435e+12                0.000000e+00  2.408832e+13
32                7.546594e+11                0.000000e+00  1.866795e+12
33                7.520814e+11                0.000000e+00  1.865449e+12
34                7.561185e+11                0.000000e+00  1.869486e+12
35                1.460970e+13                0.000000e+00  1.780657e+13
36                1.444896e+13                0.000000e+00  1.748480e+13
37                1.170134e+13                0.000000e+00  2.703907e+13
38                1.169016e+13                0.000000e+00  2.702789e+13
39                2.463800e+13                0.000000e+00  2.909961e+13
40                9.473124e+12                0.000000e+00  1.510471e+13
41                1.132925e+13                0.000000e+00  1.335159e+13

C:\Users\S499EJ\AppData\Local\Temp\1\ipykernel_27584\1482102636.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  summary_df['Property Industries Amount'].fillna(0, inplace=True)

In [24]:
summary_df.head()

,Country,Peril,Currency,Property Residential Amount,Property Commercial Amount,Property Industries Amount,Total
0,AUS,EQXX,AUD,5.787934e+12,3.920394e+12,0.0,9.708328e+12
1,AUS,FIWF,AUD,5.787936e+12,3.913390e+12,0.0,9.701326e+12
2,AUS,STHS,AUD,5.787936e+12,3.850638e+12,0.0,9.638574e+12
3,AUS,STXX,AUD,5.787936e+12,3.921331e+12,0.0,9.709267e+12
4,AUS,TCXX,AUD,5.787936e+12,3.921331e+12,0.0,9.709267e+12

In [25]:
# USD--- Filter rows based on 'Property LOB' values 'PRO_RES' and 'PRO_COM'
pro_res_df_usd = concatenated_df_USD[concatenated_df_USD['Property LOB'] == 'PRO_RES']
pro_com_df_usd = concatenated_df_USD[concatenated_df_USD['Property LOB'] == 'PRO_COM']
pro_ind_df_usd = concatenated_df_USD[concatenated_df_USD['Property LOB'] == 'PRO_IND']

In [26]:
# Group by 'Country', 'Peril', 'Currency', and 'Property LOB', and calculate sums of 'BI Value'
pro_res_summary_usd = pro_res_df_usd.groupby(['Country', 'Peril', 'Currency']).agg({'SUM_3': 'sum'}).reset_index()
pro_com_summary_usd = pro_com_df_usd.groupby(['Country', 'Peril', 'Currency']).agg({'SUM_3': 'sum'}).reset_index()
pro_ind_summary_usd = pro_ind_df_usd.groupby(['Country', 'Peril', 'Currency']).agg({'SUM_3': 'sum'}).reset_index()

In [27]:
# Merge the two summaries on 'Country', 'Peril', and 'Currency'
summary_df_usd = pd.merge(pro_res_summary_usd, pro_com_summary_usd, on=['Country', 'Peril', 'Currency'], suffixes=('_Residential', '_Commercial'))
summary_df_usd = pd.merge(summary_df_usd, pro_ind_summary_usd, on=['Country', 'Peril', 'Currency'], how = 'outer')

# Calculate 'Property Residential Amount' and 'Property Commercial Amount'
summary_df_usd['Property Residential Amount_USD'] = summary_df_usd['SUM_3_Residential']
summary_df_usd['Property Commercial Amount_USD'] = summary_df_usd['SUM_3_Commercial']
summary_df_usd['Property Industries Amount_USD'] = summary_df_usd['SUM_3']

# Replacing NA for industries
summary_df_usd['Property Industries Amount_USD'].fillna(0, inplace=True)

# Calculate 'Total'
summary_df_usd['Total_USD'] = summary_df_usd['Property Residential Amount_USD'] + summary_df_usd['Property Commercial Amount_USD'] + summary_df_usd['Property Industries Amount_USD']

# Reorder columns as per requirement
summary_df_usd = summary_df_usd[['Country', 'Peril', 'Currency', 'Property Residential Amount_USD', 'Property Commercial Amount_USD', 'Property Industries Amount_USD', 'Total_USD']]

# Display the summary DataFrame
print(summary_df_usd)

   Country Peril Currency  Property Residential Amount_USD  \
0      AUS  EQXX      USD                     3.946277e+12
1      AUS  FIWF      USD                     3.946278e+12
2      AUS  STHS      USD                     3.946278e+12
3      AUS  STXX      USD                     3.946278e+12
4      AUS  TCXX      USD                     3.946278e+12
5      AUT  STXX      USD                     2.251049e+12
6      BEL  FLXX      USD                     1.714378e+12
7      CAN  EQXX      USD                     6.256088e+11
8      CAN  FIWF      USD                     7.520799e+12
9      CAN  FLXX      USD                     4.588674e+12
10     CAN  STHS      USD                     7.520173e+12
11     CAN  VOXX      USD                     3.624994e+12
12     CHE  FLXX      USD                     2.770055e+12
13     CHE  STXX      USD                     2.770055e+12
14     DEU  FLXX      USD                     7.175199e+12
15     DEU  STXX      USD                     1.238088e+13
16     DNK  FLXX      USD                     9.965918e+11
17     FRA  STXX      USD                     9.226525e+12
18     GBR  FLXX      USD                     7.081256e+12
19     GBR  STXX      USD                     6.980868e+12
20     IDN  EQXX      USD                     3.386363e+10
21     IDN  FLXX      USD                     5.760823e+10
22     IRL  FLXX      USD                     4.958685e+11
23     ITA  EQXX      USD                     5.098350e+11
24     ITA  FLXX      USD                     3.425798e+11
25     JPN  FLXX      USD                     2.847283e+12
26     LUX  FLXX      USD                     1.553218e+11
27     LUX  STXX      USD                     1.563401e+11
28     NLD  FLXX      USD                     2.835380e+12
29     NLD  STXX      USD                     2.834750e+12
30     NOR  FLXX      USD                     1.500753e+12
31     NOR  STXX      USD                     1.500753e+12
32     NZL  EQXX      USD                     7.063208e+11
33     NZL  FLXX      USD                     7.071030e+11
34     NZL  STXX      USD                     7.071030e+11
35     PHL  EQXX      USD                     5.734783e+10
36     PHL  TCXX      USD                     5.445898e+10
37     SWE  FLXX      USD                     1.471502e+12
38     SWE  STXX      USD                     1.471502e+12
39     THA  EQXX      USD                     1.289021e+11
40     TUR  EQXX      USD                     3.011324e+11
41     TUR  FLXX      USD                     1.081387e+11

    Property Commercial Amount_USD  Property Industries Amount_USD  \
0                     2.672968e+12                    0.000000e+00
1                     2.668192e+12                    0.000000e+00
2                     2.625407e+12                    0.000000e+00
3                     2.673607e+12                    0.000000e+00
4                     2.673607e+12                    0.000000e+00
5                     1.564828e+12                    0.000000e+00
6                     5.803161e+11                    2.764312e+11
7                     4.371797e+12                    0.000000e+00
8                     5.269834e+12                    0.000000e+00
9                     4.536026e+12                    0.000000e+00
10                    5.220843e+12                    0.000000e+00
11                    3.685655e+12                    0.000000e+00
12                    1.563688e+12                    6.870555e+11
13                    1.563688e+12                    6.870555e+11
14                    3.711139e+12                    4.164967e+12
15                    5.552069e+12                    4.930445e+12
16                    8.257264e+11                    0.000000e+00
17                    2.170701e+12                    3.772589e+12
18                    6.054895e+12                    0.000000e+00
19                    6.083053e+12                    0.000000e+00
20                    3.570314e+11                    0.000000e+00
21                    3.053254e+11                    0.000000e+00
22                    4.942888e+11                    0.000000e+00
23                    2.331296e+12                    0.000000e+00
24                    2.202836e+12                    0.000000e+00
25                    2.253208e+12                    1.569550e+12
26                    7.519631e+10                    0.000000e+00
27                    8.220743e+10                    0.000000e+00
28                    1.575049e+12                    0.000000e+00
29                    1.648037e+12                    0.000000e+00
30                    9.430312e+11                    0.000000e+00
31                    9.430312e+11                    0.000000e+00
32                    4.792865e+11                    0.000000e+00
33                    4.776491e+11                    0.000000e+00
34                    4.802131e+11                    0.000000e+00
35                    2.620793e+11                    0.000000e+00
36                    2.591959e+11                    0.000000e+00
37                    1.122627e+12                    0.000000e+00
38                    1.121554e+12                    0.000000e+00
39                    7.118258e+11                    0.000000e+00
40                    5.065469e+11                    0.000000e+00
41                    6.057977e+11                    0.000000e+00

       Total_USD
0   6.619245e+12
1   6.614471e+12
2   6.571686e+12
3   6.619885e+12
4   6.619885e+12
5   3.815876e+12
6   2.571126e+12
7   4.997405e+12
8   1.279063e+13
9   9.124699e+12
10  1.274102e+13
11  7.310649e+12
12  5.020798e+12
13  5.020798e+12
14  1.505130e+13
15  2.286339e+13
16  1.822318e+12
17  1.516982e+13
18  1.313615e+13
19  1.306392e+13
20  3.908950e+11
21  3.629336e+11
22  9.901573e+11
23  2.841131e+12
24  2.545416e+12
25  6.670041e+12
26  2.305181e+11
27  2.385475e+11
28  4.410429e+12
29  4.482787e+12
30  2.443785e+12
31  2.443785e+12
32  1.185607e+12
33  1.184752e+12
34  1.187316e+12
35  3.194271e+11
36  3.136549e+11
37  2.594128e+12
38  2.593056e+12
39  8.407279e+11
40  8.076793e+11
41  7.139364e+11

C:\Users\S499EJ\AppData\Local\Temp\1\ipykernel_27584\1794559518.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  summary_df_usd['Property Industries Amount_USD'].fillna(0, inplace=True)

In [28]:
summary_df_usd.head()

,Country,Peril,Currency,Property Residential Amount_USD,Property Commercial Amount_USD,Property Industries Amount_USD,Total_USD
0,AUS,EQXX,USD,3.946277e+12,2.672968e+12,0.0,6.619245e+12
1,AUS,FIWF,USD,3.946278e+12,2.668192e+12,0.0,6.614471e+12
2,AUS,STHS,USD,3.946278e+12,2.625407e+12,0.0,6.571686e+12
3,AUS,STXX,USD,3.946278e+12,2.673607e+12,0.0,6.619885e+12
4,AUS,TCXX,USD,3.946278e+12,2.673607e+12,0.0,6.619885e+12

In [29]:
# EUR--- Filter rows based on 'Property LOB' values 'PRO_RES' and 'PRO_COM'
pro_res_df_eur = concatenated_df_EUR[concatenated_df_EUR['Property LOB'] == 'PRO_RES']
pro_com_df_eur = concatenated_df_EUR[concatenated_df_EUR['Property LOB'] == 'PRO_COM']
pro_ind_df_eur = concatenated_df_EUR[concatenated_df_EUR['Property LOB'] == 'PRO_IND']

In [30]:
# Group by 'Country', 'Peril', 'Currency', and 'Property LOB', and calculate sums of 'BI Value'
pro_res_summary_eur = pro_res_df_eur.groupby(['Country', 'Peril', 'Currency']).agg({'SUM_3': 'sum'}).reset_index()
pro_com_summary_eur = pro_com_df_eur.groupby(['Country', 'Peril', 'Currency']).agg({'SUM_3': 'sum'}).reset_index()
pro_ind_summary_eur = pro_ind_df_eur.groupby(['Country', 'Peril', 'Currency']).agg({'SUM_3': 'sum'}).reset_index()

In [31]:
# Merge the two summaries on 'Country', 'Peril', and 'Currency'
summary_df_eur = pd.merge(pro_res_summary_eur, pro_com_summary_eur, on=['Country', 'Peril', 'Currency'], suffixes=('_Residential', '_Commercial'))
summary_df_eur = pd.merge(summary_df_eur, pro_ind_summary_eur, on=['Country', 'Peril', 'Currency'], how = 'outer')

# Calculate 'Property Residential Amount' and 'Property Commercial Amount'
summary_df_eur['Property Residential Amount_EUR'] = summary_df_eur['SUM_3_Residential']
summary_df_eur['Property Commercial Amount_EUR'] = summary_df_eur['SUM_3_Commercial']
summary_df_eur['Property Industries Amount_EUR'] = summary_df_eur['SUM_3']

# Replacing NA for industries
summary_df_eur['Property Industries Amount_EUR'].fillna(0, inplace=True)

# Calculate 'Total'
summary_df_eur['Total_EUR'] = summary_df_eur['Property Residential Amount_EUR'] + summary_df_eur['Property Commercial Amount_EUR'] + summary_df_eur['Property Industries Amount_EUR']

# Reorder columns as per requirement
summary_df_eur = summary_df_eur[['Country', 'Peril', 'Currency', 'Property Residential Amount_EUR', 'Property Commercial Amount_EUR', 'Property Industries Amount_EUR', 'Total_EUR']]

# Display the summary DataFrame
print(summary_df_eur)

   Country Peril Currency  Property Residential Amount_EUR  \
0      AUS  EQXX      EUR                     3.686300e+12
1      AUS  FIWF      EUR                     3.686302e+12
2      AUS  STHS      EUR                     3.686302e+12
3      AUS  STXX      EUR                     3.686302e+12
4      AUS  TCXX      EUR                     3.686302e+12
5      AUT  STXX      EUR                     2.103119e+12
6      BEL  FLXX      EUR                     1.601717e+12
7      CAN  EQXX      EUR                     5.844972e+11
8      CAN  FIWF      EUR                     7.026573e+12
9      CAN  FLXX      EUR                     4.287131e+12
10     CAN  STHS      EUR                     7.025988e+12
11     CAN  VOXX      EUR                     3.386779e+12
12     CHE  FLXX      EUR                     2.587393e+12
13     CHE  STXX      EUR                     2.587393e+12
14     DEU  FLXX      EUR                     6.703676e+12
15     DEU  STXX      EUR                     1.156726e+13
16     DNK  FLXX      EUR                     9.307264e+11
17     FRA  STXX      EUR                     8.620198e+12
18     GBR  FLXX      EUR                     6.613918e+12
19     GBR  STXX      EUR                     6.520156e+12
20     IRL  FLXX      EUR                     4.632822e+11
21     ITA  EQXX      EUR                     4.763308e+11
22     ITA  FLXX      EUR                     3.200670e+11
23     JPN  FLXX      EUR                     2.660152e+12
24     LUX  FLXX      EUR                     1.451147e+11
25     LUX  STXX      EUR                     1.460661e+11
26     NLD  FLXX      EUR                     2.649051e+12
27     NLD  STXX      EUR                     2.648462e+12
28     NOR  FLXX      EUR                     1.401404e+12
29     NOR  STXX      EUR                     1.401404e+12
30     NZL  EQXX      EUR                     6.599047e+11
31     NZL  FLXX      EUR                     6.606355e+11
32     NZL  STXX      EUR                     6.606355e+11
33     SWE  FLXX      EUR                     1.374138e+12
34     SWE  STXX      EUR                     1.374138e+12
35     TUR  EQXX      EUR                     2.813430e+11
36     TUR  FLXX      EUR                     1.010322e+11

    Property Commercial Amount_EUR  Property Industries Amount_EUR  \
0                     2.496875e+12                    0.000000e+00
1                     2.492415e+12                    0.000000e+00
2                     2.452448e+12                    0.000000e+00
3                     2.497472e+12                    0.000000e+00
4                     2.497472e+12                    0.000000e+00
5                     1.461994e+12                    0.000000e+00
6                     5.421802e+11                    2.582653e+11
7                     4.084506e+12                    0.000000e+00
8                     4.923529e+12                    0.000000e+00
9                     4.237943e+12                    0.000000e+00
10                    4.877758e+12                    0.000000e+00
11                    3.443454e+12                    0.000000e+00
12                    1.460576e+12                    6.417498e+11
13                    1.460576e+12                    6.417498e+11
14                    3.467259e+12                    3.891263e+12
15                    5.187211e+12                    4.606437e+12
16                    7.711536e+11                    0.000000e+00
17                    2.028052e+12                    3.524671e+12
18                    5.655294e+12                    0.000000e+00
19                    5.681594e+12                    0.000000e+00
20                    4.618063e+11                    0.000000e+00
21                    2.178093e+12                    0.000000e+00
22                    2.058075e+12                    0.000000e+00
23                    2.105121e+12                    1.466395e+12
24                    7.025473e+10                    0.000000e+00
25                    7.680512e+10                    0.000000e+00
26                    1.471544e+12                    0.000000e+00
27                    1.539735e+12                    0.000000e+00
28                    8.806030e+11                    0.000000e+00
29                    8.806030e+11                    0.000000e+00
30                    4.477900e+11                    0.000000e+00
31                    4.462603e+11                    0.000000e+00
32                    4.486558e+11                    0.000000e+00
33                    1.048347e+12                    0.000000e+00
34                    1.047345e+12                    0.000000e+00
35                    4.732583e+11                    0.000000e+00
36                    5.659867e+11                    0.000000e+00

       Total_EUR
0   6.183176e+12
1   6.178716e+12
2   6.138750e+12
3   6.183774e+12
4   6.183774e+12
5   3.565113e+12
6   2.402162e+12
7   4.669003e+12
8   1.195010e+13
9   8.525074e+12
10  1.190375e+13
11  6.830233e+12
12  4.689718e+12
13  4.689718e+12
14  1.406220e+13
15  2.136091e+13
16  1.701880e+12
17  1.417292e+13
18  1.226921e+13
19  1.220175e+13
20  9.250884e+11
21  2.654424e+12
22  2.378142e+12
23  6.231668e+12
24  2.153694e+11
25  2.228712e+11
26  4.120595e+12
27  4.188198e+12
28  2.282007e+12
29  2.282007e+12
30  1.107695e+12
31  1.106896e+12
32  1.109291e+12
33  2.422484e+12
34  2.421483e+12
35  7.546013e+11
36  6.670189e+11

C:\Users\S499EJ\AppData\Local\Temp\1\ipykernel_27584\2916319704.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  summary_df_eur['Property Industries Amount_EUR'].fillna(0, inplace=True)

In [32]:
summary_df_eur.head()

,Country,Peril,Currency,Property Residential Amount_EUR,Property Commercial Amount_EUR,Property Industries Amount_EUR,Total_EUR
0,AUS,EQXX,EUR,3.686300e+12,2.496875e+12,0.0,6.183176e+12
1,AUS,FIWF,EUR,3.686302e+12,2.492415e+12,0.0,6.178716e+12
2,AUS,STHS,EUR,3.686302e+12,2.452448e+12,0.0,6.138750e+12
3,AUS,STXX,EUR,3.686302e+12,2.497472e+12,0.0,6.183774e+12
4,AUS,TCXX,EUR,3.686302e+12,2.497472e+12,0.0,6.183774e+12

In [33]:
final_df = pd.merge(summary_df, summary_df_usd, on=['Country', 'Peril'], how = 'outer')
final_df.head()

,Country,Peril,Currency_x,Property Residential Amount,Property Commercial Amount,Property Industries Amount,Total,Currency_y,Property Residential Amount_USD,Property Commercial Amount_USD,Property Industries Amount_USD,Total_USD
0,AUS,EQXX,AUD,5.787934e+12,3.920394e+12,0.0,9.708328e+12,USD,3.946277e+12,2.672968e+12,0.0,6.619245e+12
1,AUS,FIWF,AUD,5.787936e+12,3.913390e+12,0.0,9.701326e+12,USD,3.946278e+12,2.668192e+12,0.0,6.614471e+12
2,AUS,STHS,AUD,5.787936e+12,3.850638e+12,0.0,9.638574e+12,USD,3.946278e+12,2.625407e+12,0.0,6.571686e+12
3,AUS,STXX,AUD,5.787936e+12,3.921331e+12,0.0,9.709267e+12,USD,3.946278e+12,2.673607e+12,0.0,6.619885e+12
4,AUS,TCXX,AUD,5.787936e+12,3.921331e+12,0.0,9.709267e+12,USD,3.946278e+12,2.673607e+12,0.0,6.619885e+12

In [34]:
final_output1 = pd.merge(final_df, summary_df_eur, on = ['Country', 'Peril'], how = 'outer')
final_output1.head()

,Country,Peril,Currency_x,Property Residential Amount,Property Commercial Amount,Property Industries Amount,Total,Currency_y,Property Residential Amount_USD,Property Commercial Amount_USD,Property Industries Amount_USD,Total_USD,Currency,Property Residential Amount_EUR,Property Commercial Amount_EUR,Property Industries Amount_EUR,Total_EUR
0,AUS,EQXX,AUD,5.787934e+12,3.920394e+12,0.0,9.708328e+12,USD,3.946277e+12,2.672968e+12,0.0,6.619245e+12,EUR,3.686300e+12,2.496875e+12,0.0,6.183176e+12
1,AUS,FIWF,AUD,5.787936e+12,3.913390e+12,0.0,9.701326e+12,USD,3.946278e+12,2.668192e+12,0.0,6.614471e+12,EUR,3.686302e+12,2.492415e+12,0.0,6.178716e+12
2,AUS,STHS,AUD,5.787936e+12,3.850638e+12,0.0,9.638574e+12,USD,3.946278e+12,2.625407e+12,0.0,6.571686e+12,EUR,3.686302e+12,2.452448e+12,0.0,6.138750e+12
3,AUS,STXX,AUD,5.787936e+12,3.921331e+12,0.0,9.709267e+12,USD,3.946278e+12,2.673607e+12,0.0,6.619885e+12,EUR,3.686302e+12,2.497472e+12,0.0,6.183774e+12
4,AUS,TCXX,AUD,5.787936e+12,3.921331e+12,0.0,9.709267e+12,USD,3.946278e+12,2.673607e+12,0.0,6.619885e+12,EUR,3.686302e+12,2.497472e+12,0.0,6.183774e+12

In [35]:
# Selecting only the relevant columns.

final_output1 = final_output1[['Country', 'Peril', 'Currency_x', 'Property Residential Amount',	'Property Commercial Amount', 'Property Industries Amount' , 'Total', 'Property Residential Amount_USD', 'Property Commercial Amount_USD', 'Property Industries Amount_USD', 'Total_USD', 'Property Residential Amount_EUR', 'Property Commercial Amount_EUR', 'Property Industries Amount_EUR', 'Total_EUR']]

# List of columns to divide by 10^9
columns_to_divide = ['Property Residential Amount', 'Property Commercial Amount', 'Property Industries Amount',
                     'Total', 'Property Residential Amount_USD', 'Property Commercial Amount_USD',
                     'Property Industries Amount_USD', 'Total_USD', 'Property Residential Amount_EUR',
                     'Property Commercial Amount_EUR', 'Property Industries Amount_EUR', 'Total_EUR']

# Divide the columns by 10^9
final_output1[columns_to_divide] /= 10**9

final_output1.head()

,Country,Peril,Currency_x,Property Residential Amount,Property Commercial Amount,Property Industries Amount,Total,Property Residential Amount_USD,Property Commercial Amount_USD,Property Industries Amount_USD,Total_USD,Property Residential Amount_EUR,Property Commercial Amount_EUR,Property Industries Amount_EUR,Total_EUR
0,AUS,EQXX,AUD,5787.933676,3920.394014,0.0,9708.327690,3946.276848,2672.967763,0.0,6619.244610,3686.300231,2496.875425,0.0,6183.175656
1,AUS,FIWF,AUD,5787.936045,3913.389938,0.0,9701.325983,3946.278463,2668.192307,0.0,6614.470770,3686.301740,2492.414571,0.0,6178.716311
2,AUS,STHS,AUD,5787.936045,3850.637736,0.0,9638.573781,3946.278463,2625.407166,0.0,6571.685628,3686.301740,2452.448070,0.0,6138.749810
3,AUS,STXX,AUD,5787.936045,3921.330965,0.0,9709.267010,3946.278463,2673.606587,0.0,6619.885050,3686.301740,2497.472164,0.0,6183.773903
4,AUS,TCXX,AUD,5787.936045,3921.330965,0.0,9709.267010,3946.278463,2673.606587,0.0,6619.885050,3686.301740,2497.472164,0.0,6183.773903

In [36]:
# Adding peril name & Country Name
peril = pd.read_excel(r'C:\Users\S499EJ\Desktop\Exposure Data\Key for peril name.xlsx')
country = pd.read_excel(r'C:\Users\S499EJ\Desktop\Exposure Data\Key for Country.xlsx')

# Merging to get Peril name
final_output1 = pd.merge(final_output1, peril, on = ['Peril'], how = 'left')

# Merging to get Country name
final_output1 = pd.merge(final_output1, country, on = ['Country'], how = 'left')

final_output1 = final_output1[['Country Name','Country', 'Peril', 'Peril Name', 'Currency_x', 'Property Residential Amount',	'Property Commercial Amount', 'Property Industries Amount' , 'Total', 'Property Residential Amount_USD', 'Property Commercial Amount_USD', 'Property Industries Amount_USD', 'Total_USD', 'Property Residential Amount_EUR', 'Property Commercial Amount_EUR', 'Property Industries Amount_EUR', 'Total_EUR']]
final_output1.head()

,Country Name,Country,Peril,Peril Name,Currency_x,Property Residential Amount,Property Commercial Amount,Property Industries Amount,Total,Property Residential Amount_USD,Property Commercial Amount_USD,Property Industries Amount_USD,Total_USD,Property Residential Amount_EUR,Property Commercial Amount_EUR,Property Industries Amount_EUR,Total_EUR
0,Australia,AUS,EQXX,Earthquake,AUD,5787.933676,3920.394014,0.0,9708.327690,3946.276848,2672.967763,0.0,6619.244610,3686.300231,2496.875425,0.0,6183.175656
1,Australia,AUS,FIWF,Wildfire,AUD,5787.936045,3913.389938,0.0,9701.325983,3946.278463,2668.192307,0.0,6614.470770,3686.301740,2492.414571,0.0,6178.716311
2,Australia,AUS,STHS,Hail,AUD,5787.936045,3850.637736,0.0,9638.573781,3946.278463,2625.407166,0.0,6571.685628,3686.301740,2452.448070,0.0,6138.749810
3,Australia,AUS,STXX,Winter storm,AUD,5787.936045,3921.330965,0.0,9709.267010,3946.278463,2673.606587,0.0,6619.885050,3686.301740,2497.472164,0.0,6183.773903
4,Australia,AUS,TCXX,Tropical Cyclone,AUD,5787.936045,3921.330965,0.0,9709.267010,3946.278463,2673.606587,0.0,6619.885050,3686.301740,2497.472164,0.0,6183.773903

In [37]:
# Saving the output into xlsx.
output_file_path = r'C:\Users\S499EJ\Desktop\Exposure Data\agg_output1.xlsx'
final_output1.to_excel(output_file_path, index=False)